<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Precios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400, 600, 700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/precios.css">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

   <nav class="nav">

        <header class="nav__header">

            <div class="nav__header__container">
                <div class="nav__header__container__logo">
                    <figure><img src="imagenes/logo.png" alt="" width="100px"></figure>
                </div>
            </div>


            <ul class="nav__header__contact">
                 <li><a href="/">¿Por qué nosotros?</a></li>
                    <li><a href="/precios">Precios</a></li>
                    <li><a href="#">Contáctenos</a></li>
                    <li><a href="#">Tutoriales</a></li>
                
                <li><button><a href="tel:+57-302-460-0263">Cotizar</a></button></li>
            
            </ul>


            <div class="nav__header__toggle">
                <i class="fa fa-bars menu" aria-hidden="true"></i>
            </div>
        </header>

        <ul class="nav__column">
            <li><a href="#">¿Por qué nosotros?</a></li>
            <li><a href="/precios">Precios</a></li>
            <li><a href="#">Contáctenos</a></li>
            <li><a href="#">Tutoriales</a></li>
            <li class="button"><button class="">Cotizar</button></li>
        </ul>

    </nav>


    <section data-aos="fade-up" data-aos-duration="1500" class="titulos">
        <h1>Selecciona tu paquete.</h1>
        <h2>Escoge las funciones que tu equipo de trabajo está necesitando actualmente. Haz crecer con facilidad tu
            negocio</h2>
    </section>

    <section class="filtrar">

        <button class="filtrar__collapsible">FILTRAR PRODUCTOS <img src="imagenes/precios/filtro.png" alt=""
                width="5%"></button>

        <div class="filtrar__content">

            <div class="filtrar__content__casillas">
                <h2>Empleados</h2>
                <a href="/precios?empleados=5">5 empleados</a><br>
                <a href="/precios?empleados=10">10 empleados</a> <br>
                <a href="/precios?empleados=15">15 empleados</a><br>
                <a href="/precios?empleados=15&5&10">todos</a><br>
            </div>

            <div class="filtrar__content__casillas">

                <h2>Horas</h2>
                <a href="/precios?horas=10">10 horas</a>
                <a href="/precios?horas=15">15 horas</a>
                <a href="/precios?horas=20">20 horas</a>

            </div>
            <div class="filtrar__content__casillas">

                <h2>Transacciones</h2>
                <a href="/precios?transac=25">25 transacciones</a>
                <a href="/precios?transac=50">50 transacciones</a>
                <a href="/precios?transac=100">100 transacciones</a>
                <a href="/precios?transac=500">500 transacciones</a>
            </div>
        </div>
    </section>

    <section class="paquetes">
        <div class="paquetes__item">

            {{#each productos}}
            {{#if especial}}
            <div class="paquetes__item basico">
                <h5>POPULAR</h5>
                <h3 id="nombrePaquete">{{nombre}}</h3>
                <h4>Empieza desde</h4>
                <h1>${{precio}}/mes</h1>
                <ul>
                    <li class="paquetes__item basico__lista"><b>{{anexo}}</b></li>
                    {{#each incluye}}
                    <li>{{this}}<img src="imagenes/precios/check.png" alt="" width="5%"></li>
                    {{/each}}
                    <li><b>{{transac}}</b> transacciones <img src="imagenes/precios/check.png" alt="" width="5%"></li>
                </ul>
                <button class="btnComp" data-name={{nombre}}><a
                        href="/pagos?nombre={{nombre}}&precio={{precio}}">COMPRAR</a></button>
                <ul>
                    <li><b>{{empleados}}</b> empleados en nómina</li>
                    <li><b>{{horas}}</b> horas de soporte</li>

                </ul>
            </div>
            {{else}}
            <div class="paquetes__item contable">
                <h3 id="nombrePaquete">{{nombre}}</h3>
                <h4>Empieza desde</h4>
                <h1>${{precio}}/mes</h1>
                <ul>
                    <li class="paquetes__item contable__lista"><b>{{anexo}}</b></li>
                    {{#each incluye}}
                    <li>{{this}}<img src="imagenes/precios/check.png" alt="" width="5%"></li>
                    {{/each}}
                    <li><b>{{transac}}</b> transacciones <img src="imagenes/precios/check.png" alt="" width="5%"></li>

                </ul>
                <button class="btnComp" data-name={{nombre}}><a
                        href="/pagos?nombre={{nombre}}&precio={{precio}}">COMPRAR</a></button>
                <ul>
                    <li><b>{{empleados}}</b> empleados en nómina</li>
                    <li><b>{{horas}}</b> horas de soporte</li>

                </ul>
            </div>
            {{/if}}
            {{/each }}

        </div>

    </section>

    <section class="titulosp">
        <h1>¡Arma tu paquete!</h1>
        <h2>Sabemos que te gusta personalizar tus productos, por ende hemos decidido darte la opción de armar tu propia
            cotización</h2>
    </section>

    <section class="armando">

        <div class="armando__productos">

            <div class="armando__productos__info">
                <!-- USUARIO -->
                <button id="restarUsuario" class="armando__productos__info btnb">-</button>

                <div class="armando__productos__info texto">
                    <h3 id="usuario"></h3>
                    <img src="imagenes/precios/users.png" alt="" width="60%">
                    <h2>Usuarios</h2>
                </div>

                <button id="agregarUsuario" class="armando__productos__info btn">+</button>
            </div>

            <div class="armando__productos__info">
                <!-- TRANSACCIONES -->
                <button id="restarTransa" class="armando__productos__info btnb">-</button>

                <div class="armando__productos__info texto">
                    <h3 id="transa"></h3>
                    <img src="imagenes/precios/transacciones.png" alt="" width="60%">
                    <h2>Cantidad de Transacciones</h2>
                </div>

                <button id="agregarTransa" class="armando__productos__info btn">+</button>
            </div>

            <div class="armando__productos__info">
                <!-- NÓMINA -->
                <button id="restarNomina" class="armando__productos__info btnb">-</button>
                <div class="armando__productos__info texto">
                    <h3 id="nomina"></h3>
                    <img src="imagenes/precios/nomina.png" alt="" width="60%">
                    <h2>Nómina</h2>
                </div>

                <button id="agregarNomina" class="armando__productos__info btn">+</button>
            </div>

            <div class="armando__productos__info">
                <!-- ESTACIONES -->
                <button id="restarEsta" class="armando__productos__info btnb">-</button>
                <div class="armando__productos__info texto">
                    <h3 id="estacion"></h3>
                    <img src="imagenes/precios/estaciones.png" alt="" width="60%">
                    <h2>Estaciones / Locales</h2>
                </div>
                <button id="agregarEsta" class="armando__productos__info btn">+</button>
            </div>

            <h3 id="costo"><b>Costo estimado: </b> $<span id="valor"></span></h3>
        </div>

        <form action="/cotizar" method="POST" class="armando__informacion">
          <!--  <form action="/entrando" method="POST">-->
                <h1>Datos para cotización</h1>
                <input type="email" placeholder="Escribe tu correo" name="correo">
                <h3>CORREO</h3>
                <input type="tel" placeholder="Escribe tu teléfono" name="number">
                <h3>TELEFONO</h3>
                <input type="text" placeholder="Escribe tu dirección" name="direccion">
                <h3>DIRECCION</h3>
                <input id="input-nNomina" type="hidden" name="nNomina" value="">
                <input id="input-nTrans" type="hidden" name="nTrans" value="">
                <input id="input-nUsuarios" type="hidden" name="nUsuarios" value="">
                <input id="input-nEstaciones" type="hidden" name="nEstaciones" value="">
                <input id="input-precio" type="hidden" name="nPrecio" value="">

                <button id="btnCotizame">Cotizar</button>
            <!-- </form>-->
        </div>

    </section>


 <!--LIBRERIA DE AOS-->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  
    <script src="/js/filter.js" type="text/javascript"></script>
    <script src="/js/aprecios.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="/js/sweetalert.min.js"></script>


    </div>
</body>

</html>